/*
 * hard coded values :
 *  - .flip | width = width of the hexa.png image
 *  - .flip | height = height of the hexa.png image
 *  - .flips | width = 3/4 * width of the hexa.png image
 *  - .flips:nth-child(odd) | top = 1/2 * height of the hexa.png image
 */
body {
    margin: 0;
    padding: 0;
    color: #ECF0F1;
    background-color: #2C3E50;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
    color: #ECF0F1;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    background: #3498DB;
    line-height: 18px;
    font-size: 18px;
    border-radius: 6px;
    text-align: center;
    transition: 0.25s;
}
a:hover {
    background: #cacfd2;
}
a:active {
    background: #a1a6a9;
}
a.active {
    color: #3498DB;
    background: #ECF0F1;
}
a.active:hover {
    background: #cacfd2;
}
a.active:active {
    background: #a1a6a9;
}
#menu {
    z-index: 200;
    text-align: center;
    background: #2C3E50;
    border-radius: 6px;
    position: absolute;
    padding: 10px;
    top: 10px;
    right: 10px;
    width: 180px;
}
#menu h1 {
    font-size: 28px;
    margin: 10px 0;
}
#menu hr {
    margin: 0 0 10px 0;
    color: #ECF0F1;
    background: #ECF0F1;
    border: 1px solid #ECF0F1;
}
#viewport {
    overflow: hidden;
}
#grid {
    user-select: none;
    margin: -44px 0 0 -44px;
}
.flips {
    display: inline-block;
    position: relative;
    width: 75px;
}
.flips:nth-child(odd) {
    top: 44px;
}
.flip {
  z-index: 10;
  width: 100px;
  height: 88px;
  perspective: 180;
  transform-style: preserve-3d;
  transition: all 0.4s ease;
}
.face {
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}
.face.back {
  transform: rotate3d(1, 1, 0, 180deg);
}